
.point {
  border: 1px solid black;
  padding: 1rem 0 1rem 1rem;
  &__main {
    display: grid;
    column-gap: 1.5rem;
    row-gap: 0.5rem;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr 0.5fr;
    grid-template-rows: repeat(2, 2rem);
    grid-template-areas: 
      "n d m c dat"
      "n o o . dat";
  }
  &__adress {
    margin: 0 0.5rem;
  }
  &__name {
    grid-area: n;
    text-align: center;
    display: inline-flex;
    align-items: center;
  }
  &__button {
    height: 1.5rem;
    cursor: pointer;
    margin: 0 0.5rem;
    &_del {
      color: red;
    }
  }
  &__detail {
    padding-top: 1rem;
  }
  &__detail-row {
    margin-bottom: 1rem;
  }
}


.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}