.point {
  border: 1px solid black;
  padding: 1rem;
  &__main {
    display: flex;
    justify-content: space-between;
  }
  &__name,
  .point__adress {
    margin: 0 0.5rem;
  }
  &__button {
    height: 1.5rem;
    cursor: pointer;
    margin: 0 0.5rem;
    &_del {
      color: red;
    }
  }
  &__detail {
    margin-top: 1rem;
  }
  &__detail-row {
    margin-bottom: 1rem;
  }
}


.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}